@page
@model ProductDetailsModel
@{
	ViewData["Title"] = "Chi Tiết Cá Koi";
}

<div class="background-product-details">
	<div id="product-details">
		<div class="product-details-text">
			<!--Koi Kohaku-->
			<div id="koi-kohaku">
				<h2>Cá Koi Kohaku</h2>
				<table>
					<tr>
						<th>
							<div><img width="500" src="https://jpkoi.vn/wp-content/uploads/2019/12/ca-chep-nhat-kohaku-e1575173475247.jpg" /></div>
						</th>
						<th>
							<div class="h3">
								<h3>
									<span>Cá Koi Kohaku thực sự là một biểu tượng của vẻ đẹp và sự tinh tế trong thế giới của cá cảnh.</span>
									<span>Đặc điểm chính của Kohaku là sự kết hợp tinh tế giữa màu trắng trong trẻo của thân cá và các vệt màu đỏ hoặc cam phối trộn một cách hài hòa.</span>
									<span>Mỗi vệt màu đỏ hay cam trên thân cá Kohaku được coi là một nét đẹp tinh tế và duyên dáng. Đặc biệt, các vệt màu này thường trải dài từ đầu cá đến đuôi, tạo ra một bức tranh sống động và lôi cuốn khi Kohaku bơi trong nước.</span>
									<br/>
									<br/>
									<span>Ngoài vẻ đẹp ngoại hình, Kohaku cũng mang theo một ý nghĩa sâu sắc trong văn hóa Nhật Bản.</span>
									<span>Màu trắng của thân cá thường được liên kết với sự trong sáng, trong khi màu đỏ hay cam biểu hiện sức mạnh và may mắn.</span>
									<span>Do đó, Kohaku thường được coi là biểu tượng của sự may mắn và thịnh vượng trong tư duy phong thủy.</span>
									<br/>
									<br/>
									<ul>
										<li>Giới tính: Đực</li>
										<li>Năm sinh: 2020</li>
										<li>Kích thước: 15 cm</li>
										<li>Giống: Cá Koi Nhật Bản thuần chủng</li>
										<li>Nguồn gốc: Nhật Bản</li>
										<li>Giá: 2.800.000 (VND)</li>
									</ul>
									<table>
										<tr>
											<th>
												<a asp-page="/Products"><p class="button-back">Quay lại</p></a>
											</th>
											<th></th>
											<th></th>
											<th></th>
											<th>
												<a asp-page="/Buy"><p class="button-buy">Đặt hàng</p></a>
											</th>
										</tr>
									</table>
								</h3>
							</div>
						</th>
					</tr>
				</table>
			</div>
			<!--Koi Showa-->
			<div id="koi-showa">
				<h2>Cá Koi Showa Sanshoku</h2>
				<table>
					<tr>
						<th>
							<div><img width="500"src="https://th.bing.com/th/id/OIP.OpDYV67z3mYqrsoF9DeZFgHaFF?w=225&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7"/></div>
						</th>
						<th>
							<div class="h3">
								<h3>
									<span>Do đó, Kohaku thường được coi là biểu tượng của sự may mắn và thịnh vượng trong tư duy phong thủy</span>
									<span>Với vẻ ngoài độc đáo và mạnh mẽ, Showa là một trong những loại cá Koi được người yêu cá cảnh ưa chuộng và khám phá tại Việt Nam.</span>
									<br/>
									<br/>
									<span>Đặc điểm chính của cá koi Showa là màu đen phủ trên toàn bộ thân cá, kết hợp với các vệt màu đỏ và trắng phân bố khắp cơ thể. Sự kết hợp giữa ba màu sắc này tạo ra một hiệu ứng độc đáo và hấp dẫn, tạo ra một bức tranh sống động và mạnh mẽ khi Showa bơi trong nước.</span>
									<span>Màu đen thường biểu hiện sự kiên nhẫn và quyết đoán, màu đỏ thể hiện sức mạnh và may mắn, và màu trắng tượng trưng cho sự trong sáng và thanh khiết.</span>
									<br/>
									<br/>
									<span>Ngoài vẻ đẹp ngoại hình, Showa còn mang theo một ý nghĩa sâu sắc trong văn hóa Nhật Bản.</span>
									<span>Cái tên "Showa" thường được liên kết với thời kỳ Showa, thời kỳ mà Nhật Bản trải qua những thách thức và biến động lớn.</span>
									<span>Do đó, Showa thường được coi là biểu tượng của sự mạnh mẽ và kiên cường trong cuộc sống.</span>
									<br/>
									<br/>
									<ul>
										<li>Giới tính: Cái</li>
										<li>Năm sinh: 2022</li>
										<li>Kích thước: 30 cm</li>
										<li>Giống: Nhật Bản</li>
										<li>Nguồn gốc: Nhật Bản</li>
										<li>Giá: 14.000.000 (VND)</li>
									</ul>
									<table>
										<tr>
											<th>
												<a asp-page="/Products"><p class="button-back">Quay lại</p></a>
											</th>
											<th></th>
											<th></th>
											<th></th>
											<th>
												<a asp-page="/Buy"><p class="button-buy">Đặt hàng</p></a>
											</th>
										</tr>
									</table>
								</h3>
							</div>
						</th>
					</tr>
				</table>
			</div>
			<!--Koi Tancho-->
			<div id="koi-tancho">
				<h2>Cá Koi Tancho</h2>
				<table>
					<tr>
						<th>
							<div><img width="500"src="https://th.bing.com/th/id/OIP.RTul_HytUOO3lQsLi6fORwHaFC?w=256&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7"/></div>
						</th>
						<th>
							<div class="h3">
								<h3>
									<span>Cá Koi Tancho là một trong những biến thể đặc biệt và độc đáo của loài cá Koi, được yêu thích bởi điểm nổi bật là một đốm đỏ duy nhất trên đỉnh đầu.</span>
									<span>Điều này tạo nên một hình ảnh độc đáo và lôi cuốn, khiến cho Tancho trở thành một trong những loại cá Koi được săn đón trong cộng đồng yêu cá cảnh.</span>
									<br/>
									<br/>
									<span>Đối với người chơi cá cảnh, Tancho không chỉ là một loài cá đẹp mắt mà còn là biểu tượng của may mắn và thành công.</span>
									<span>Đốm đỏ trên đỉnh đầu thường được coi là một dấu hiệu của sự thịnh vượng, tạo ra một cảm giác tích cực và lạc quan trong không gian của hồ cá.</span>
									<span>Sự đơn giản và độc đáo của Tancho cũng làm tăng thêm giá trị thẩm mỹ và sự độc đáo cho bất kỳ bể cá nào mà chúng xuất hiện.</span>
									<br/>
									<br/>
									<ul>
										<li>Giới tính: Đực</li>
										<li>Năm sinh: 2019</li>
										<li>Kích thước: 15 cm</li>
										<li>Giống: Nhật Bản</li>
										<li>Nguồn gốc: Nhật Bản</li>
										<li>Giá: 2.500.000 (VND)</li>
									</ul>
									<table>
										<tr>
											<th>
												<a asp-page="/Products"><p class="button-back">Quay lại</p></a>
											</th>
											<th></th>
											<th></th>
											<th></th>
											<th>
												<a asp-page="/Buy"><p class="button-buy">Đặt hàng</p></a>
											</th>
										</tr>
									</table>
								</h3>
							</div>
						</th>
					</tr>
				</table>
			</div>
			<!--Koi Utsuri-->
			<div id="koi-utsuri">
				<h2>Cá Koi Utsuri</h2>
				<table>
					<tr>
						<th>
							<div><img width="500"src="https://th.bing.com/th/id/OIP.wTzsOI4mCKvWZGZn0JFNRgHaEo?w=284&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7"/></div>
						</th>
						<th>
							<div class="h3">
								<h3>
									<span>Cá Koi Utsuri là một trong những loại cá Koi được biết đến với hoa văn đặc trưng trên thân, tạo ra một vẻ đẹp độc đáo và thu hút trong hồ cá.</span>
									<span>Với sự kết hợp tinh tế giữa màu đen, xanh lam và các đốm màu trắng hoặc đỏ, Utsuri tạo ra các hoa văn phức tạp và độc đáo, làm nổi bật vẻ đẹp tự nhiên của cá Koi.</span>
									<span>Đặc biệt, loại Utsuri được chia thành các loại chính như Kuro Utsuri, Shiro Utsuri và Hi Utsuri, mỗi loại mang lại một diện mạo riêng biệt và thu hút sự chú ý của người chơi cá cảnh.</span>
									<br/>
									<br/>
									<span>Ngoài vẻ đẹp ngoại hình, Utsuri còn mang theo một ý nghĩa sâu sắc trong văn hóa Nhật Bản.</span>
									<span>Loài cá này thường được coi là biểu tượng của sự may mắn và bảo vệ, với màu đen thường được liên kết với sự bảo vệ, trong khi màu trắng và đỏ thường được xem như là biểu tượng của sự may mắn và tài lộc.</span>
									<span>Sự ý nghĩa này làm cho Utsuri trở thành một loài cá không chỉ đẹp mắt mà còn đậm chất tinh thần và văn hóa.</span>
									<br/>
									<br/>
									<ul>
										<li>Giới tính: Cái</li>
										<li>Năm sinh: 2021</li>
										<li>Kích thước: 30 cm</li>
										<li>Giống: Nhật Bản</li>
										<li>Nguồn gốc: Nhật Bản</li>
										<li>Giá: 11.500.000 (VND)</li>
									</ul>
									<table>
										<tr>
											<th>
												<a asp-page="/Products"><p class="button-back">Quay lại</p></a>
											</th>
											<th></th>
											<th></th>
											<th></th>
											<th>
												<a asp-page="/Buy"><p class="button-buy">Đặt hàng</p></a>
											</th>
										</tr>
									</table>
								</h3>
							</div>
						</th>
					</tr>
				</table>
			</div>
			<!--Koi Ogon-->
			<div id="koi-ogon">
				<h2>Cá Koi Ogon</h2>
				<table>
					<tr>
						<th>
							<div><img width="500"src="https://cachepkoi.com.vn/wp-content/uploads/2016/05/Yamabuki-Ogon.jpg"/></div>
						</th>
						<th>
							<div class="h3">
								<h3>
									<span>Cá Koi Ogon là một biểu tượng của sự đơn giản và sự lấp lánh trong thế giới của cá cảnh.</span>
									<span>Mặc dù không có các hoa văn phức tạp như các loại cá Koi khác, nhưng Ogon vẫn thu hút ánh nhìn bởi vẻ đẹp rực rỡ và sự sang trọng của mình. </span>
									<span>Tại Việt Nam, Ogon là một trong những loại cá Koi được người chơi cá cảnh yêu thích và chú ý đặc biệt.</span>
									<br/>
									<br/>
									<span>Đặc điểm chính của Ogon là màu vàng hoặc cam rực rỡ phủ trên toàn bộ cơ thể.</span>
									<span>Sự đơn giản và tinh tế của màu sắc này tạo ra một hiệu ứng lấp lánh rực rỡ khi Ogon bơi trong ao.</span>
									<span>Ánh nắng mặt trời chiếu xuống làm cho màu sắc của Ogon trở nên lung linh và lôi cuốn, tạo ra một cảm giác bình yên và yên bình.</span>
									<br/>
									<br/>
									<span>Mặc dù không có các hoa văn phức tạp, nhưng Ogon vẫn mang theo một ý nghĩa sâu sắc trong thế giới của cá cảnh.</span>
									<span>Màu vàng và cam thường được liên kết với sự giàu có và may mắn trong tư duy phong thủy, làm cho Ogon trở thành một biểu tượng của sự thịnh vượng và thành công.</span>
									<br/>
									<br/>
									<ul>
										<li>Giới tính: Đực</li>
										<li>Năm sinh: 2020</li>
										<li>Kích thước: 40 cm</li>
										<li>Giống: Nhật Bản</li>
										<li>Nguồn gốc: Nhật Bản</li>
										<li>Giá: 32.000.000 (VND)</li>
									</ul>
									<table>
										<tr>
											<th>
												<a asp-page="/Products"><p class="button-back">Quay lại</p></a>
											</th>
											<th></th>
											<th></th>
											<th></th>
											<th>
												<a asp-page="/Buy"><p class="button-buy">Đặt hàng</p></a>
											</th>
										</tr>
									</table>
								</h3>
							</div>
						</th>
					</tr>
				</table>
			</div>
			<!--Koi Chagoi-->
			<div id="koi-chagoi">
				<h2>Cá Koi Chagoi</h2>
				<table>
					<tr>
						<th>
							<div><img width="500" src="https://image-us.eva.vn/upload/3-2022/images/2022-08-26/image13-1661495518-619-width2048height1365.jpg" /></div>
						</th>
						<th>
							<div class="h3">
								<h3>
									<span>Cá Koi Chagoi, với vẻ đẹp bình dị và sự ấm áp của mình, là một biểu tượng của sự thanh lịch và tự nhiên trong thế giới của cá cảnh.</span>
									<span>Đặc điểm chính của Chagoi là màu nâu hoặc vàng nâu trên toàn bộ cơ thể.</span>
									<span>Sự đơn giản của màu sắc này tạo ra một cảm giác ấm áp và thân thiện, khiến cho Chagoi trở nên gần gũi và dễ thương.</span>
									<br/>
									<br/>
									<span>Ngoài ra, Chagoi còn mang theo một ý nghĩa sâu sắc trong thế giới của cá cảnh.</span>
									<span>Màu nâu và vàng thường được liên kết với sự ấm áp và bình dị, tạo ra một cảm giác yên bình và thư thái khi ngắm nhìn Chagoi bơi trong ao.</span>
									<span>Do đó, Chagoi thường được coi là biểu tượng của sự bình yên và tĩnh lặng.</span>
									<br/>
									<br/>
									<ul>
										<li>Giới tính: Cái</li>
										<li>Năm sinh: 2021</li>
										<li>Kích thước: 15 cm</li>
										<li>Giống: Nhật Bản</li>
										<li>Nguồn gốc: Nhật Bản</li>
										<li>Giá: 2.400.000 (VND)</li>
									</ul>
									<table>
										<tr>
											<th>
												<a asp-page="/Products"><p class="button-back">Quay lại</p></a>
											</th>
											<th></th>
											<th></th>
											<th></th>
											<th>
												<a asp-page="/Buy"><p class="button-buy">Đặt hàng</p></a>
											</th>
										</tr>
									</table>
								</h3>
							</div>
						</th>
					</tr>
				</table>
			</div>
			<!--Koi Bướm-->
			<div id="koi-bướm">
				<h2>Cá Koi Bướm</h2>
				<table>
					<tr>
						<th>
							<div><img width="500"src="https://cdudsyowwnmx6388661.cdn.ntruss.com/aboutPet/images/goods/petsbe/21/04/15/2509876/register_detail_075.jpg?type=f&w=500&h=500&quality=90&align=4"/></div>
						</th>
						<th>
							<div class="h3">
								<h3>
									<span>Cá Koi đuôi bướm là một biểu tượng của sự dịu dàng và tinh tế trong thế giới của cá cảnh.</span>
									<span>Với thân hình mềm mại và vây dài mượt, chúng mang lại một cảm giác uyển chuyển và đẹp mắt, giống như một chú bướm đang bay lượn giữa không gian nước.</span>
									<br/>
									<br/>
									<span>Cá Koi đuôi bướm có một số đặc điểm nổi bật như thân hình thon dài và mảnh mai, với vây dài và nhẹ nhàng.</span>
									<span>Những vây này thường có các hoa văn độc đáo và phức tạp, tạo ra một bức tranh sống động và lôi cuốn khi cá bơi trong ao.</span>
									<span>Màu sắc của Assorted Butterfly Koi có thể đa dạng, từ các gam màu rực rỡ như đỏ, cam, vàng đến các màu nhạt như trắng, bạch kim, tạo ra một diện mạo phong phú và đa dạng.</span>
									<br/>
									<br/>
									<span>Ngoài vẻ đẹp ngoại hình, cá Koi đuôi bướm còn mang theo một ý nghĩa sâu sắc.</span>
									<span>Với hình dáng giống như bướm, chúng thường được coi là biểu tượng của sự tự do và sự bay bổng trong cuộc sống.</span>
									<span>Việc nuôi và chiêm ngưỡng cá Koi bướm cũng được coi là một trải nghiệm tinh thần và thẩm mỹ, giúp thư giãn và tạo ra một không gian yên bình và thanh lịch trong ngôi nhà.</span>
									<br/>
									<br/>
									<ul>
										<li>Giới tính: Đực</li>
										<li>Năm sinh: 2022</li>
										<li>Kích thước: 30 cm</li>
										<li>Giống: Nhật Bản</li>
										<li>Nguồn gốc: Nhật Bản</li>
										<li>Giá: 13.000.000 (VND)</li>
									</ul>
									<table>
										<tr>
											<th>
												<a asp-page="/Products"><p class="button-back">Quay lại</p></a>
											</th>
											<th></th>
											<th></th>
											<th></th>
											<th>
												<a asp-page="/Buy"><p class="button-buy">Đặt hàng</p></a>
											</th>
										</tr>
									</table>
								</h3>
							</div>
						</th>
					</tr>
				</table>
			</div>
			<!--Koi Shusui-->
			<div id="koi-shusui">
				<h2>Cá Koi Shusui</h2>
				<table>
					<tr>
						<th>
							<div><img width="500"src="https://cachepkoi.com.vn/wp-content/uploads/2016/05/Shusui.jpg"/></div>
						</th>
						<th>
							<div class="h3">
								<h3>
									<span>Cá Koi Shusui được biết đến với vẻ đẹp độc đáo và hoa văn trên thân cá, là một biểu tượng trong thế giới của cá cảnh.</span>
									<span>Hoa văn của Shusui thường bao gồm các vệt màu xanh lam hoặc đen, kết hợp một cách hài hòa với màu đỏ hoặc cam, tạo ra một diện mạo lôi cuốn và thu hút ánh nhìn.</span>
									<span>Sự kết hợp này tạo ra một ấn tượng mạnh mẽ và độc đáo, khiến cho Shusui trở thành một trong những loài cá Koi được yêu thích.</span>
									<br/>
									<br/>
									<span>Bên cạnh hoa văn đặc trưng, thân hình của cá Koi Shusui cũng đem lại sự ấn tượng.</span>
									<span>Thường có thân hình mảnh mai và mảnh dẻ, Shusui tỏ ra thanh lịch và đẹp mắt khi bơi trong hồ cá.</span>
									<span>Sự mảnh mai này cũng là một trong những điểm đặc biệt làm nổi bật vẻ đẹp của loài cá này.</span>
									<br/>
									<br/>
									<span>Sự phong phú và sáng tạo trong việc lai tạo loài cá Koi Shusui đã tạo ra nhiều biến thể và phiên bản khác nhau.</span>
									<span>Từ những phiên bản truyền thống đến những thiết kế hiện đại và sáng tạo, Shusui mang lại nhiều sự lựa chọn cho người chơi cá cảnh.</span>
									<span>Sự đa dạng này cũng làm tăng thêm sự hấp dẫn và sự quan tâm đối với loài cá này.</span>
									<br/>
									<br/>
									<ul>
										<li>Giới tính: Cái</li>
										<li>Năm sinh: 2019</li>
										<li>Kích thước: 15 cm</li>
										<li>Giống: Nhật Bản</li>
										<li>Nguồn gốc: Nhật Bản</li>
										<li>Giá: 2.200.000 (VND)</li>
									</ul>
									<table>
										<tr>
											<th>
												<a asp-page="/Products"><p class="button-back">Quay lại</p></a>
											</th>
											<th></th>
											<th></th>
											<th></th>
											<th>
												<a asp-page="/Buy"><p class="button-buy">Đặt hàng</p></a>
											</th>
										</tr>
									</table>
								</h3>
							</div>
						</th>
					</tr>
				</table>
			</div>
			<!--Koi Sanke-->
			<div id="koi-sanke">
				<h2>Cá Koi Sanke</h2>
				<table>
					<tr>
						<th>
							<div><img width="500" src="https://rarest.org/wp-content/uploads/2021/12/9.-Taisho-Sanke-1024x461.jpg"/></div>
						</th>
						<th>
							<div class="h3">
								<h3>
									<span>Cá koi Sanke với màu trắng trong trẻo của thân cá, kết hợp với các vệt màu đỏ và đen tạo thành các hoa văn phức tạp.</span>
									<span>Mỗi một vệt màu đỏ và đen trên thân cá Sanke đều được tạo ra một cách tỉ mỉ và cân nhắc, tạo ra một bức tranh sống động và lôi cuốn khi Sanke bơi trong nước.</span>
									<span>Sự phối hợp giữa ba màu sắc này tạo nên một vẻ đẹp tinh tế và độc đáo, thu hút ánh nhìn ngay từ cái nhìn đầu tiên.</span>
									<br/>
									<br/>
									<span>Ngoài vẻ đẹp ngoại hình, cá koi Sanke còn mang theo một ý nghĩa sâu sắc trong văn hóa Nhật Bản.</span>
									<span>Màu trắng của thân cá thường được liên kết với sự trong sáng và thanh khiết, trong khi màu đỏ biểu hiện sức mạnh và sự may mắn, và màu đen thể hiện sự kiên nhẫn và sự cứng cỏi.</span>
									<span>Do đó, Sanke thường được coi là biểu tượng của sự cân bằng và may mắn trong tư duy phong thủy.</span>
									<br/>
									<br/>
									<ul>
										<li>Giới tính: Đực</li>
										<li>Năm sinh: 2020</li>
										<li>Kích thước: 50 cm</li>
										<li>Giống: Nhật Bản</li>
										<li>Nguồn gốc: Nhật Bản</li>
										<li>Giá: 48.500.000 (VND)</li>
									</ul>
									<table>
										<tr>
											<th>
												<a asp-page="/Products"><p class="button-back">Quay lại</p></a>
											</th>
											<th></th>
											<th></th>
											<th></th>
											<th>
												<a asp-page="/Buy"><p class="button-buy">Đặt hàng</p></a>
											</th>
										</tr>
									</table>
								</h3>
							</div>
						</th>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
